# Simulation output
*.vcd
*.fst
*.vvp

# GTKWave
*.gtkw

# Synthesis/build output
*.bit
*.bin
*.json

# Temporary files
*.log
*.tmp

.vscode/
*.vcd
*.out
build/
digital/square_wave_generator/sim/top_squaregenerator.vcd
sim/
/digital/square_wave_generator/sim
